:root {
  font-family: 'Red Hat Display', sans-serif;

  /* primary */
  --p-blue: hsla(245, 75%, 52%, 1);
  --p-dark-blue: hsla(223, 46%, 23%, 1);
  --p-lt-blue: hsla(245, 83%, 68%, 1);
  /* neutral */
  --n-dark-gray: hsla(224, 23%, 55%, 1);
  --n-lt-gray: hsla(228, 100%, 99%, 1);
  --n-white: hsla(0, 0%, 100%, 1);
  --n-bg: hsla(225, 100%, 94%, 1);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;

}
.main-container {
  width: 400px;
  max-width: 400px;
  height: 530px;
  background-color: white;
  border-radius: 40px;
}
.Hero-img{
  width: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  h1 {
  font-weight: 900;
  text-align: center;
  font-size: 1.7rem;
  align-items: center;
  font-size: 22px;
  margin-bottom: 10px;    
}
.p {
  color: hsl(224, 23%, 55%);
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.payment-checkout {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: #fff;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  outline: none;
  border: none;
}

.button-title {
  font-size: large;
  font-weight: 600;
  width: 100%;
}

.payment button {
    border-radius: 10px;
    background-color:hsl(245, 75%, 52%) ;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 5px gray;
}
 .payment button:hover {
    background-color: hsl(224, 23%, 55%);
}

.link a {
  text-decoration: none;
  color: hsl(245, 75%, 52%); 
}
.cancel-order {
  margin: 15px 0;
  font-size: 14px;
  color: hsl(223, 47%, 23%);
}
.cancel-order a{
  text-decoration: none;
  color:hsl(223, 47%, 23%); 
  font-weight: 600;
  font-size: 16px;
}

.plan{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: hsl(223, 47%, 23%);
}

.plan title{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.plan-price {
    font-size: 12px;
    color: hsl(224, 23%, 55%);
}

.payment {
  left: auto;
}